# nuxt
node_modules
npm-debug.log
.nuxt
dist

*.pid
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.prefs
target/
tmp
project/
out/
.metadata
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
buildSrc/
db-migration/
contiperf-report/
bin/
build/
*/src/generated/
export.sql
.DS_Store
node_modules/
npm-debug.log
*.map


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.MF


generated/
*.log